@model Broker.Models.Share
@{
    ViewData["Title"] = "AddShare";
}
    <form asp-action="AddShare" asp-controller="Share">
        <div class="form-group">
            <label asp-for="CompanyName" class="control-label">Название Компании</label>
            <input type="text" asp-for="CompanyName" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Страна : </label>
            <select name="CountryId" asp-items="Model.Countries" class="form-control"></select>
        </div>
        <div class="form-group">
            <label asp-for="ImgSrc" class="control-label">Картинка</label>
            <input type="text" asp-for="ImgSrc" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="CurrentPrice" class="control-label">Стоимость акции</label>
            <input type="number" asp-for="CurrentPrice" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Отправить" class="btn btn-default" />
        </div>
    </form>

